{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service - Services
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/app.css">
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div id="content">

    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}


