{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service - Administration
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/app.css">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div style="margin-top: 150px;">
    {% if role[0] == 'ROLE_ADMIN' %}
        <p>Admin</p>
    {% endif %}

    {% if role[0] == 'ROLE_SERVICE' %}
        <a href="">Voir tous les services</a>
    {% endif %}

    {% if role[0] == 'ROLE_PRODUCT' %}
        <a href="{{ path('admin.product.index') }}">Voir tous les produits</a>
    {% endif %}

    {% if role[0] == 'ROLE_ORDER' %}
        <a href="{{ path('admin.order.index') }}" class="btn btn-secondary">Voir tous les ordres</a>
    {% endif %}
    </div>
{% endblock %}