{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service - Produits
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/app.css">
{% endblock %}

{% block body %}
        <div class="container mt-4">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'product/_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block javascripts %}

{% endblock %}


