{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service - {{ product.name }}
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
<h2>{{ product.name }}</h2>
{% endblock %}


