{% extends 'base.html.twig' %}

{%  block title %}
    Eco-Service -
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
<h2></h2>
{% endblock %}


